<main class="main">
  <div class="inner">
   <div class="greeting">
    <% if user_signed_in? %>
      <% hello = "こんにちは、" %>
      <% honorific = "さん" %>
      <%= link_to "#{hello}" + current_user.name + "#{honorific}", user_path(current_user.id), class: :greeting__link %>
    <% end %>
    </div>
    <div class="card__wrapper">
      <%= render partial: "prototype", collection: @prototype %>
    </div>
  </div>
</main>
